body{
margin:0;
font-family:Arial;
text-align:center;
background:linear-gradient(pink,#ffdde1);
}

.screen{
margin-top:100px;
}

.hidden{
display:none;
}

button{
padding:15px 25px;
font-size:20px;
border:none;
border-radius:10px;
margin:10px;
cursor:pointer;
}

#yes{background:green;color:white;}
#no{background:red;color:white;}

img{
width:80%;
max-width:300px;
border-radius:15px;
margin-top:20px;
}